[run]
branch = True
source =
    fedora_messaging

[paths]
source =
   fedora_messaging
   .tox/*/site-packages/fedora_messaging

[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
omit =
    tests/*
