language: python

install:
 - pip install --upgrade pip setuptools
 - pip install tox

script:
  - tox

after_success:
  - source .tox/${TOXENV}/bin/activate && pip install codecov && codecov --env TRAVIS_OS_NAME,TOXENV

env:
  global:
    - PYTHONWARNINGS=always::DeprecationWarning
matrix:
  include:
    - python: "2.7"
      env: TOXENV=py27
    - python: "3.4"
      env: TOXENV=py34
    - python: "3.5"
      env: TOXENV=py35
    - python: "3.6"
      env: TOXENV=py36
    - python: "3.6"
      env: TOXENV=integration
      sudo: required
      services:
        - rabbitmq
    - python: "3.6"
      env: TOXENV=docs
    - python: "3.6"
      env: TOXENV=lint
