on:
  push:
    branches:
      - stable
      - develop
  pull_request:
    branches:
      - stable
      - develop

name: Run Tox tests

jobs:
  misc_tests:
    name: Misc tests
    steps:
      - uses: actions/checkout@v3
      - name: Mark the working directory as safe for Git
        run: |
          mkdir -p /home/runner/work/_temp/_github_home/
          git config --file /home/runner/work/_temp/_github_home/.gitconfig --add safe.directory /github/workspace
      - name: Run tests
        uses: fedora-python/tox-github-action@master
        with:
          tox_env: ${{ matrix.tox_env }}
    strategy:
      matrix:
        tox_env:
          - checks
          - licenses
    runs-on: ubuntu-latest

  unit_test:
    name: Unit tests
    steps:
      - uses: actions/checkout@v3
      - name: Run tests
        uses: fedora-python/tox-github-action@master
        with:
          tox_env: ${{ matrix.tox_env }}
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
          name: ${{ matrix.tox_env }}
          flags: unittests
          env_vars: PYTHON
          fail_ci_if_error: true
    strategy:
      matrix:
        tox_env:
          - py36-unittest
          - py37-unittest
          - py38-unittest
          - py39-unittest
          - py310-unittest
    runs-on: ubuntu-latest

  integration_test:
    name: Integration tests
    steps:
      - uses: actions/checkout@v3
      - name: Install RabbitMQ
        uses: mer-team/rabbitmq-mng-action@v1.2
        with:
          RABBITMQ_TAG: "3-management-alpine"
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}
      - name: Install Tox
        run: pip install tox
      - name: Run integration tests
        # Run tox using the version of Python in `PATH`
        run: tox -e py-integration
    strategy:
      matrix:
        python:
          - '3.6'
          - '3.7'
          - '3.8'
          - '3.9'
          - '3.10'
    runs-on: ubuntu-latest
