on:
  push:
    branches:
      - stable
      - develop
  pull_request:
    branches:
      - stable
      - develop

name: Tests

jobs:
  misc_tests:
    name: Misc tests
    container: fedorapython/fedora-python-tox:latest
    steps:
      - uses: actions/checkout@v4

      - name: Mark the directory as safe for git
        run: git config --global --add safe.directory $PWD

      - name: Install poetry
        run: python3 -m pip install --upgrade poetry

      - name: Run tests
        run: tox -e ${{ matrix.tox_env }}

    strategy:
      matrix:
        tox_env:
          - checks
          - licenses
    runs-on: ubuntu-latest

  unit_test:
    name: Unit tests
    container: fedorapython/fedora-python-tox:latest
    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          dnf install -y rust cargo openssl-devel
          python3 -m pip install poetry>=1.3.0
      - name: Run tests
        run: tox -e ${{ matrix.tox_env }}

    strategy:
      matrix:
        tox_env:
          - py38-unittest
          - py39-unittest
          - py310-unittest
          - py311-unittest
          - py312-unittest
    runs-on: ubuntu-latest

  integration_test:
    name: Integration tests
    runs-on: ubuntu-latest
    container: fedorapython/fedora-python-tox:latest

    services:
      rabbitmq:
        image: rabbitmq:management
        ports:
          - 5672:5672
          - 15672:15672

    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: |
          dnf install -y rust cargo openssl-devel
          python3 -m pip install poetry>=1.3.0
      - name: Configure the connection to RabbitMQ
        run:
          echo 'amqp_url = "amqp://rabbitmq"' >> tests/fixtures/cli_integration.toml
      - name: Run integration tests
        run: tox -e ${{ matrix.tox_env }}
        env:
          RABBITMQ_HOST: rabbitmq

    strategy:
      matrix:
        tox_env:
          - py38-integration
          - py39-integration
          - py310-integration
          - py311-integration
          - py312-integration
