on:
  push:
    branches:
      - stable
      - develop
  pull_request:
    branches:
      - stable
      - develop

name: Run Tox tests

jobs:
  misc_tests:
    name: Misc tests
    steps:
      - uses: actions/checkout@v2
      - name: Run tests
        uses: fedora-python/tox-github-action@master
        with:
          tox_env: ${{ matrix.tox_env }}
    strategy:
      matrix:
        tox_env:
          - lint
          - format
          - licenses
          - bandit
    runs-on: ubuntu-latest

  unit_test:
    name: Unit tests
    steps:
      - uses: actions/checkout@v2
      - name: Run tests
        uses: fedora-python/tox-github-action@master
        with:
          tox_env: ${{ matrix.tox_env }}
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
          name: ${{ matrix.tox_env }}
          flags: unittests
          env_vars: PYTHON
          fail_ci_if_error: true
    strategy:
      matrix:
        tox_env:
          - py27-unittest
          - py36-unittest
          - py37-unittest
          - py38-unittest
          - py39-unittest
    runs-on: ubuntu-latest

  integration_test:
    name: Integration tests
    steps:
      - uses: actions/checkout@v2
      - name: Install RabbitMQ
        uses: mer-team/rabbitmq-mng-action@v1.2
        with:
          RABBITMQ_TAG: "3-management-alpine"
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}
      - name: Install Tox
        run: pip install tox
      - name: Run integration tests
        # Run tox using the version of Python in `PATH`
        run: tox -e py-integration
    strategy:
      matrix:
        python:
          - 2.7
          - 3.6
          - 3.7
          - 3.8
          - 3.9
    runs-on: ubuntu-latest
